@model Model.EF.Admin
@{
    ViewBag.Title = "Thêm mới Quản trị viên - Quản lý nhân sự";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <section class="content-header">
        <h4>Quản lý Quản trị viên</h4>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li><a href="/Admin/Index">Quản lý Admin</a></li>
            <li class="active">Thêm mới Quản trị viên</li>
        </ol>
    </section>
}
@section jsFooter{
    <script src="~/Assets/customjs/uploadImage.js"></script>
}
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Thông tin Quản trị viên mới</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body ">
            <div class="row col-lg-12">
                <div class="col-lg-3">
                    <div class="wrap-image">
                        <img class="img-responsive img-thumbnail avatar" src=@Url.Content("~/Images/plus.png") />
                    </div>
                    
                    <div class="wrap-button-upload">
                        <input type="file" id="imageUpload" accept="image/*" name="file" class="hide" />
                        <label for="imageUpload" class="button-style btn btn-primary">Chọn ảnh</label>

                    </div>

                </div>
                <div class="col-lg-9">
                    @using (Html.BeginForm("Create", "Admin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <input type="hidden" id="passSrcImage" name="srcAvatar" value="" />
                            <fieldset>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Họ tên</label>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên", @autofocus = "autofocus" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Tên đăng nhập</label>
                                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên đăng nhập" } })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Mật khẩu</label>
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu", @type = "password" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Giới tính</label>
                                        <div class="row col-lg-12">
                                            <div class="radio col-lg-2">
                                                @Html.RadioButtonFor(model => model.Gender, "1", new { @checked = true })
                                                @Html.Label("Nam")

                                            </div>
                                            <div class="radio col-lg-2 radio-second">
                                                @Html.RadioButtonFor(model => model.Gender, "0", false)
                                                @Html.Label("Nữ")
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Địa chỉ</label>
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Số điện thoại</label>
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Email</label>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Trạng thái</label>
                                        <div class="row col-lg-12">
                                            <div class="radio col-lg-5">
                                                @Html.RadioButtonFor(model => model.Status, "1", new { @checked = true })
                                                @Html.Label("Hoạt động")

                                            </div>
                                            <div class="radio col-lg-5 radio-second">
                                                @Html.RadioButtonFor(model => model.Status, "0", false)
                                                @Html.Label("Đã khóa")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                        <div class="row wrap-button-add">
                            <button type="submit" class="btn btn-primary pull-right">Thêm mới</button>
                        </div>
                    }
                </div>

               

            </div>
            <div class="clearfix"></div>
            @if (TempData["CreateErr"] != null)
            {
                <div class="alert alert-danger alert-dismissible alert-custom center-block">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Thông báo!</h4>
                    <p>@TempData["CreateErr"]</p>
                </div>
            }
        </div>


        <!-- /.box-body -->


    </div>
</section>
